{% extends 'base.html' %}
{% block title %}
ADD NEW COLLECTION
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
    <h1>UPLOAD NEW PRODUCTS.</h1>
        <form method="POST" enctype="multipart/form-data" class="form">
            {% csrf_token %}
            {{ form.media }}
            {{ form.as_p }}
            <p class="text-right"><button type="submit" class="btn btn-primary">UPLOAD.</button></p>
            <input type="hidden" name="next" value="{% url 'product_list' %}"/>
        </form>
    {% else %}
    <h1>YOU ARE NOT AUTHORIZED TO ADD POST.<a href="{% url 'homepage' %}">HOMEPAGE</a></h1>
    {% endif %}
{% endblock %}